<div>
    <h1>about Automedic app</h1>
כאשר אדם מזדקק לתרופות, עצם נטילת התרופות מהווה נטל וקושי. במהלך החיים נחשפנו ללא מעט תלונות על האחריות הרבה והיווצרות לחץ ובלבול מנושא נטילת התרופות ובפרט אצל אנשים בעלי מוגבלויות/ זקנים הנוטלים תרופות באופן כרוני.
האתר נועד למנוע מאנשים סבל נוסף ותוספת אחריות חוץ מהקושי הקיים שבנטילת התרופות. בשביל אדם הנוטל תרופות, השימוש באתר מונע ממנו את כל הבלבול הנ"ל ומסייע לו באופן גורף בכל הסדר והארגון שבנטילת התרופות, האתר מספק למשתמש לוח זמנים של כל תרופותיו, התראות בזמן וכן שליחת מייל לרופא בעת שנגמרה לו תרופה, כל שכאשר אדם מחליט לשתף את האתר בחיים שלו הוא מקל מעליו עול מיותר.
מה שנדרש מהמשתמש באתר בפעם הראשונה, להירשם לאתר ולהכניס את פרטיו האישיים, לאחר מכן להזין את תרופותיו שהוא לוקח, המלאי בכמות שיש לו והזמנים שצריך לקחת את התרופה, כמובן שאם רוצה התראות הוא צריך להזין את זמני ההתראות שבהם צריך ליטול את התרופות.
במקרה שלמשמש קיים כבר חשבון באתר, הוא צריך להכניס את שמו והסיסמא שבחר וכבר הוא רואה את כל התרופות שהוא נוטל, את התרופות היומיות הנוגעות לו לאותו היום, וכאן יש לו אפשרות למחוק תרופות שכבר אין לו צורך בהם, לערוך תרופה שנדרשת לשינוי וכמובן להוסיף תרופות ולשנות זמני התראות ונטילת התרופות.
האתר- לאחר שמוזן בכל נתוני התרופות למשתמש ספציפי זה- מנהל בעצמו את מלאי התרופות של המטופל. האתר פועל לאורך כל היממה ובעת הגיעה השעה שעל המטופל ליטול תרופה, המטופל מקבל מייל/ S.M.S  שבו יש לו התראה על התרופה שעליו לקחת בכמות המצוינת לאותה תרופה, ומקבל לינק לאתר, באתר המטופל מציין אם לקח את התרופה או לא. במקרה שמציין שלא לקח המשתמש יקבל התראה נוספת על התרופה, ובמקרה שמציין שנטל את התרופה- המלאי של התרופה פוחת. במקרה שהמלאי בשלבי גמר וכמעט מרוקן- האתר אחראי לשלוח מייל לרופא של המטופל האחראי על לקיחת התרופה הזו, ובמייל מפורט לרופא איזו תרופה נגמרה והכמות שצריך להזמין מתרופה זו.
א"כ בעת שנוטל תרופות משתמש באתר ונהנה מיתרונותיו, הוא מגיע לשלווה ומסיר מעליו את העול המיותר והקשה שבארגון מלאי התרופות. 

</div>


<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <span class="w3-right w3-padding w3-hide-small"> <a routerLink="/register">Register</a></span>
 </div>
 <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <span class="w3-right w3-padding w3-hide-small"> <a routerLink="/login">Login</a></span>
 </div>