<section  class="myclass">
        <nav >

          <a  class="mouseOverLink" routerLink="/aboutApp" ><b>about us</b> </a>
          <a class="mouseOverLink" routerLink="/startPoint" ><b>my medicines </b></a>
          <a class="mouseOverLink" routerLink="/dayMedicine"><b>my day alerts</b></a>
          <a class="mouseOverLink" routerLink="/manageStack"><b>manage your stack</b></a>
          <a class="mouseOverLink" routerLink="/addMedicine/1"><b>add medicine</b></a>
          <a class="mouseOverLink" routerLink="/homePage" ><b>home page </b></a>

        </nav>
  </section>
  <router-outlet></router-outlet> 